.header {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/LNMIIT.png');
    background-color: #2C2A2A;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
    margin-top: 100px;
}

.header h1 {
    font-size: 80px;
    font-weight: 900;
    color: #ffffff;
    position: relative;
    padding-left: 50px;
    margin-top: -50px;
    animation: slideIn 1.5s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (max-width: 1200px) {
    .header h1 {
        font-size: 60px;
        margin-left: 30px;
        margin-top: -30px;
    }
}